@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding:0;
  margin: 0;
  @apply bg-white text-black  

}
h1 {
  font-family: "Koh_Santepheap";
  @apply font-bold capitalize 
}
.p_regular {
   @apply text-[16px] text-[#939393] leading-[23px] py-2 mt-4
}
.mobile_nav {
@apply py-4 px-8 uppercase font-extrabold hover:bg-white rounded transition-opacity
}


